.register {
    text-align: center;
  }
  
  .register p {
    color: #aaa;
  }

  .verification_option {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    text-align: left;
  }

  .verification_option input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }

  .verification_option label {
    margin: 0;
    font-size: 0.9em;
    color: #555;
  }